<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SMAndroidSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="686563">  <td>21/02/10 13:18:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileActivitySortingTests.sMMobileActivitySortingTests()[pri:0, instance:com.tests.sitemanager.SMMobileActivitySortingTests@4b553d26]">sMMobileActivitySortingTests</td> 
  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>21/02/10 13:05:30</td>   <td>-808920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileEmailLoginTests.sMMobileEmailLoginTests()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginTests@cd2dae5]">sMMobileEmailLoginTests</td> 
  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="faf8f2">  <td>21/02/10 13:06:55</td>   <td>-724044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileHelpSupportLinkTests.sMMobileHelpSupportLinkTests()[pri:0, instance:com.tests.sitemanager.SMMobileHelpSupportLinkTests@5a1c0542]">sMMobileHelpSupportLinkTests</td> 
  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="e58dcd">  <td>21/02/10 13:14:10</td>   <td>-289094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileMakePaymentLinkTests.sMMobileMakePaymentLinkTests()[pri:0, instance:com.tests.sitemanager.SMMobileMakePaymentLinkTests@4493d195]">sMMobileMakePaymentLinkTests</td> 
  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="a38d86">  <td>21/02/10 13:15:54</td>   <td>-184367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileUnitsSortingbyNameTests.sMMobileUnitsSortingbyNameTests()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyNameTests@34cd072c]">sMMobileUnitsSortingbyNameTests</td> 
  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="aca973">  <td>21/02/10 13:17:34</td>   <td>-84910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileUnitsSortingbyTypeTests.sMMobileUnitsSortingbyTypeTests()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyTypeTests@7a765367]">sMMobileUnitsSortingbyTypeTests</td> 
  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="96b684">  <td>21/02/10 13:09:13</td>   <td>-586130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewUnitDetailTests.sMMobileViewUnitDetailTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitDetailTests@4d95d2a2]">sMMobileViewUnitDetailTests</td> 
  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="7c7ea0">  <td>21/02/10 13:11:02</td>   <td>-477220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewUnitsFromPieTests.sMMobileViewUnitsFromPieTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitsFromPieTests@17579e0f]">sMMobileViewUnitsFromPieTests</td> 
  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="68ddbd">  <td>21/02/10 13:12:34</td>   <td>-384794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewUserRolesTests.sMMobileViewUserRolesTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewUserRolesTests@646d64ab]">sMMobileViewUserRolesTests</td> 
  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/02/10 13:04:37</td>   <td>-861773</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginTests@cd2dae5]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/02/10 13:06:03</td>   <td>-775632</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileHelpSupportLinkTests@5a1c0542]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/02/10 13:08:19</td>   <td>-639866</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitDetailTests@4d95d2a2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/02/10 13:10:10</td>   <td>-528831</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitsFromPieTests@17579e0f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/02/10 13:11:41</td>   <td>-437253</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewUserRolesTests@646d64ab]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/02/10 13:13:18</td>   <td>-340928</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileMakePaymentLinkTests@4493d195]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/02/10 13:15:03</td>   <td>-235826</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyNameTests@34cd072c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/02/10 13:16:42</td>   <td>-136388</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyTypeTests@7a765367]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/02/10 13:18:07</td>   <td>-52240</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileActivitySortingTests@4b553d26]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/02/10 13:05:55</td>   <td>-784119</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginTests@cd2dae5]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/02/10 13:08:10</td>   <td>-648423</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileHelpSupportLinkTests@5a1c0542]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/02/10 13:10:01</td>   <td>-537378</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitDetailTests@4d95d2a2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/02/10 13:11:33</td>   <td>-445745</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitsFromPieTests@17579e0f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/02/10 13:13:09</td>   <td>-349397</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewUserRolesTests@646d64ab]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/02/10 13:14:54</td>   <td>-244311</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileMakePaymentLinkTests@4493d195]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/02/10 13:16:34</td>   <td>-144938</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyNameTests@34cd072c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/02/10 13:17:58</td>   <td>-60770</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyTypeTests@7a765367]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/02/10 13:19:40</td>   <td>41550</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileActivitySortingTests@4b553d26]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
</table>
