<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DefaultAndroidSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efa5e3">  <td>20/02/13 10:54:14</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileEmailLoginTests@2758fe70]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>20/02/13 10:55:18</td>   <td>64320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileEmailLoginTests.defaultMobileEmailLoginTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileEmailLoginTests@2758fe70]">defaultMobileEmailLoginTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 10:56:20</td>   <td>125757</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileEmailLoginTests@2758fe70]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 10:56:57</td>   <td>162898</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobilePhoneLoginTests@7f13d6e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="707e96">  <td>20/02/13 10:57:59</td>   <td>224767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobilePhoneLoginTests.defaultMobilePhoneLoginTests()[pri:0, instance:com.tests.defaultuser.DefaultMobilePhoneLoginTests@7f13d6e]">defaultMobilePhoneLoginTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 10:58:50</td>   <td>276070</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobilePhoneLoginTests@7f13d6e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 10:59:27</td>   <td>313271</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileHelpSupportLinkTests@48503868]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="bbd26a">  <td>20/02/13 11:00:29</td>   <td>375446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileHelpSupportLinkTests.defaultMobileHelpSupportLinkTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileHelpSupportLinkTests@48503868]">defaultMobileHelpSupportLinkTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:02:08</td>   <td>474530</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileHelpSupportLinkTests@48503868]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:02:46</td>   <td>511722</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileViewTutorialsTests@27a5f880]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>20/02/13 11:03:47</td>   <td>573289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileViewTutorialsTests.defaultMobileViewTutorialsTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileViewTutorialsTests@27a5f880]">defaultMobileViewTutorialsTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:04:32</td>   <td>617785</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileViewTutorialsTests@27a5f880]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:05:09</td>   <td>655026</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileHomePageHelpSupportTests@1786dec2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="688db1">  <td>20/02/13 11:06:11</td>   <td>717233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileHomePageHelpSupportTests.defaultMobileHomePageHelpSupportTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileHomePageHelpSupportTests@1786dec2]">defaultMobileHomePageHelpSupportTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:07:40</td>   <td>806167</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileHomePageHelpSupportTests@1786dec2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:08:17</td>   <td>843501</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileBottomMenuTests@2833cc44]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>20/02/13 11:09:20</td>   <td>905679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileBottomMenuTests.defaultMobileBottomMenuTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileBottomMenuTests@2833cc44]">defaultMobileBottomMenuTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:10:13</td>   <td>959261</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileBottomMenuTests@2833cc44]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:10:50</td>   <td>996464</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileFeedbackLinkTests@e320068]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>20/02/13 11:11:52</td>   <td>1058409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileFeedbackLinkTests.defaultMobileFeedbackLinkTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileFeedbackLinkTests@e320068]">defaultMobileFeedbackLinkTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:13:16</td>   <td>1142592</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileFeedbackLinkTests@e320068]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:13:54</td>   <td>1179750</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileActivitySortingTests@458c1321]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>20/02/13 11:14:56</td>   <td>1242233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileActivitySortingTests.defaultMobileActivitySortingTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileActivitySortingTests@458c1321]">defaultMobileActivitySortingTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:16:09</td>   <td>1314956</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileActivitySortingTests@458c1321]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:16:46</td>   <td>1352137</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileViewUnitTests@2bbf4b8b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="b69da5">  <td>20/02/13 11:17:48</td>   <td>1413969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileViewUnitTests.defaultMobileViewUnitTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileViewUnitTests@2bbf4b8b]">defaultMobileViewUnitTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:18:43</td>   <td>1469223</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileViewUnitTests@2bbf4b8b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:19:20</td>   <td>1506238</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileShareUnitTests@3043fe0e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="d677df">  <td>20/02/13 11:20:22</td>   <td>1568498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileShareUnitTests.defaultMobileShareUnitTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileShareUnitTests@3043fe0e]">defaultMobileShareUnitTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:22:11</td>   <td>1676732</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileShareUnitTests@3043fe0e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:22:48</td>   <td>1714190</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileSyncFobTests@480bdb19]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="6be76a">  <td>20/02/13 11:23:51</td>   <td>1776839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileSyncFobTests.defaultMobileSyncFobTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileSyncFobTests@480bdb19]">defaultMobileSyncFobTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:24:51</td>   <td>1837406</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileSyncFobTests@480bdb19]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:25:28</td>   <td>1874279</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileAboutTests@7e2d773b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="b0efb8">  <td>20/02/13 11:26:31</td>   <td>1936889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileAboutTests.dDefaultMobileAboutTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileAboutTests@7e2d773b]">dDefaultMobileAboutTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:27:38</td>   <td>2003843</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileAboutTests@7e2d773b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:28:15</td>   <td>2041128</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileAccountViewTests@631330c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="b3b3e6">  <td>20/02/13 11:29:17</td>   <td>2102754</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileAccountViewTests.defaultMobileAccountViewTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileAccountViewTests@631330c]">defaultMobileAccountViewTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:30:19</td>   <td>2165506</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileAccountViewTests@631330c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:30:56</td>   <td>2202322</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileUnShareUnitTests@37d31475]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="7d6a68">  <td>20/02/13 11:31:58</td>   <td>2264569</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileUnShareUnitTests.defaultMobileUnShareUnitTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileUnShareUnitTests@37d31475]">defaultMobileUnShareUnitTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:32:50</td>   <td>2316152</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileUnShareUnitTests@37d31475]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:33:27</td>   <td>2353073</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobilePhoneLoginPageRefreshTests@23d2a7e8]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="c1676b">  <td>20/02/13 11:34:29</td>   <td>2415275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobilePhoneLoginPageRefreshTests.defaultMobilePhoneLoginPageRefreshTests()[pri:0, instance:com.tests.defaultuser.DefaultMobilePhoneLoginPageRefreshTests@23d2a7e8]">defaultMobilePhoneLoginPageRefreshTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:35:52</td>   <td>2497830</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobilePhoneLoginPageRefreshTests@23d2a7e8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
</table>
