<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DefaultAndroidSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b0efb8">  <td>20/02/13 11:26:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileAboutTests.dDefaultMobileAboutTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileAboutTests@7e2d773b]">dDefaultMobileAboutTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="b3b3e6">  <td>20/02/13 11:29:17</td>   <td>165865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileAccountViewTests.defaultMobileAccountViewTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileAccountViewTests@631330c]">defaultMobileAccountViewTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>20/02/13 11:14:56</td>   <td>-694656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileActivitySortingTests.defaultMobileActivitySortingTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileActivitySortingTests@458c1321]">defaultMobileActivitySortingTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>20/02/13 11:09:20</td>   <td>-1031210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileBottomMenuTests.defaultMobileBottomMenuTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileBottomMenuTests@2833cc44]">defaultMobileBottomMenuTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>20/02/13 10:55:18</td>   <td>-1872569</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileEmailLoginTests.defaultMobileEmailLoginTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileEmailLoginTests@2758fe70]">defaultMobileEmailLoginTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>20/02/13 11:11:52</td>   <td>-878480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileFeedbackLinkTests.defaultMobileFeedbackLinkTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileFeedbackLinkTests@e320068]">defaultMobileFeedbackLinkTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="bbd26a">  <td>20/02/13 11:00:29</td>   <td>-1561443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileHelpSupportLinkTests.defaultMobileHelpSupportLinkTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileHelpSupportLinkTests@48503868]">defaultMobileHelpSupportLinkTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="688db1">  <td>20/02/13 11:06:11</td>   <td>-1219656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileHomePageHelpSupportTests.defaultMobileHomePageHelpSupportTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileHomePageHelpSupportTests@1786dec2]">defaultMobileHomePageHelpSupportTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="c1676b">  <td>20/02/13 11:34:29</td>   <td>478386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobilePhoneLoginPageRefreshTests.defaultMobilePhoneLoginPageRefreshTests()[pri:0, instance:com.tests.defaultuser.DefaultMobilePhoneLoginPageRefreshTests@23d2a7e8]">defaultMobilePhoneLoginPageRefreshTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="707e96">  <td>20/02/13 10:57:59</td>   <td>-1712122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobilePhoneLoginTests.defaultMobilePhoneLoginTests()[pri:0, instance:com.tests.defaultuser.DefaultMobilePhoneLoginTests@7f13d6e]">defaultMobilePhoneLoginTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="d677df">  <td>20/02/13 11:20:22</td>   <td>-368391</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileShareUnitTests.defaultMobileShareUnitTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileShareUnitTests@3043fe0e]">defaultMobileShareUnitTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="6be76a">  <td>20/02/13 11:23:51</td>   <td>-160050</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileSyncFobTests.defaultMobileSyncFobTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileSyncFobTests@480bdb19]">defaultMobileSyncFobTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="7d6a68">  <td>20/02/13 11:31:58</td>   <td>327680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileUnShareUnitTests.defaultMobileUnShareUnitTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileUnShareUnitTests@37d31475]">defaultMobileUnShareUnitTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>20/02/13 11:03:47</td>   <td>-1363600</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileViewTutorialsTests.defaultMobileViewTutorialsTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileViewTutorialsTests@27a5f880]">defaultMobileViewTutorialsTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="b69da5">  <td>20/02/13 11:17:48</td>   <td>-522920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileViewUnitTests.defaultMobileViewUnitTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileViewUnitTests@2bbf4b8b]">defaultMobileViewUnitTests</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 10:54:14</td>   <td>-1936889</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileEmailLoginTests@2758fe70]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 10:56:57</td>   <td>-1773991</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobilePhoneLoginTests@7f13d6e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 10:59:27</td>   <td>-1623618</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileHelpSupportLinkTests@48503868]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:02:46</td>   <td>-1425167</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileViewTutorialsTests@27a5f880]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:05:09</td>   <td>-1281863</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileHomePageHelpSupportTests@1786dec2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:08:17</td>   <td>-1093388</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileBottomMenuTests@2833cc44]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:10:50</td>   <td>-940425</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileFeedbackLinkTests@e320068]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:13:54</td>   <td>-757139</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileActivitySortingTests@458c1321]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:16:46</td>   <td>-584752</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileViewUnitTests@2bbf4b8b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:19:20</td>   <td>-430651</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileShareUnitTests@3043fe0e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:22:48</td>   <td>-222699</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileSyncFobTests@480bdb19]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:25:28</td>   <td>-62610</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileAboutTests@7e2d773b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:28:15</td>   <td>104239</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileAccountViewTests@631330c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:30:56</td>   <td>265433</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileUnShareUnitTests@37d31475]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:33:27</td>   <td>416184</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobilePhoneLoginPageRefreshTests@23d2a7e8]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 10:56:20</td>   <td>-1811132</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileEmailLoginTests@2758fe70]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 10:58:50</td>   <td>-1660819</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobilePhoneLoginTests@7f13d6e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:02:08</td>   <td>-1462359</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileHelpSupportLinkTests@48503868]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:04:32</td>   <td>-1319104</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileViewTutorialsTests@27a5f880]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:07:40</td>   <td>-1130722</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileHomePageHelpSupportTests@1786dec2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:10:13</td>   <td>-977628</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileBottomMenuTests@2833cc44]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:13:16</td>   <td>-794297</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileFeedbackLinkTests@e320068]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:16:09</td>   <td>-621933</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileActivitySortingTests@458c1321]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:18:43</td>   <td>-467666</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileViewUnitTests@2bbf4b8b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:22:11</td>   <td>-260157</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileShareUnitTests@3043fe0e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:24:51</td>   <td>-99483</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileSyncFobTests@480bdb19]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:27:38</td>   <td>66954</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileAboutTests@7e2d773b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:30:19</td>   <td>228617</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileAccountViewTests@631330c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:32:50</td>   <td>379263</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileUnShareUnitTests@37d31475]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/13 11:35:52</td>   <td>560941</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobilePhoneLoginPageRefreshTests@23d2a7e8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
</table>
