<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Samsung Galaxy S9 Site Manager</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b467">  <td>20/01/16 07:42:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileEmailLoginTests.mobileEmailLoginTests()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginTests@578486a3]">mobileEmailLoginTests</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="b5ab66">  <td>20/01/16 07:43:30</td>   <td>71962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMHUAWEIMobileEmailLoginTests.sMHUAWEIMobileEmailLoginTests()[pri:0, instance:com.tests.sitemanager.SMHUAWEIMobileEmailLoginTests@23faf8f2]">sMHUAWEIMobileEmailLoginTests</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="af6be2">  <td>20/01/16 07:44:13</td>   <td>115425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileActivitySortingTests.sMMobileActivitySortingTests()[pri:0, instance:com.tests.sitemanager.SMMobileActivitySortingTests@56aac163]">sMMobileActivitySortingTests</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="888abb">  <td>20/01/16 07:46:05</td>   <td>227237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileAdvancedSettingsTests.sMMobileAdvancedSettingsTests()[pri:0, instance:com.tests.sitemanager.SMMobileAdvancedSettingsTests@167fdd33]">sMMobileAdvancedSettingsTests</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>20/01/16 07:48:01</td>   <td>342582</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileBottomMenuTests.sMMobileBottomMenuTests()[pri:0, instance:com.tests.sitemanager.SMMobileBottomMenuTests@6acdbdf5]">sMMobileBottomMenuTests</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="70d1b1">  <td>20/01/16 08:02:21</td>   <td>1202624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileEmailAddGatewayTests.sMMobileEmailAddGatewayTests()[pri:0, instance:com.tests.sitemanager.SMMobileEmailAddGatewayTests@2a742aa2]">sMMobileEmailAddGatewayTests</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="d8dbba">  <td>20/01/16 08:00:20</td>   <td>1081554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileEmailViewTutorialsTests.sMMobileEmailViewTutorialsTests()[pri:0, instance:com.tests.sitemanager.SMMobileEmailViewTutorialsTests@2f943d71]">sMMobileEmailViewTutorialsTests</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="a8c7ae">  <td>20/01/16 07:50:18</td>   <td>480036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileFeedbackTests.sMMobileFeedbackTests()[pri:0, instance:com.tests.sitemanager.SMMobileFeedbackTests@2d8f65a4]">sMMobileFeedbackTests</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="7f6b8c">  <td>20/01/16 08:04:30</td>   <td>1332192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileFiltersRentalStatusTests.sMMobileFiltersRentalStatusTests()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersRentalStatusTests@7a187f14]">sMMobileFiltersRentalStatusTests</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="a6bcd4">  <td>20/01/16 08:07:00</td>   <td>1482444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileFiltersAccessTypeTests.sMMobileFiltersRentalStatusTests()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersAccessTypeTests@3234e239]">sMMobileFiltersRentalStatusTests</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="f2b07d">  <td>20/01/16 07:52:31</td>   <td>612625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileHelpSupportLinkTests.sMMobileHelpSupportLinkTests()[pri:0, instance:com.tests.sitemanager.SMMobileHelpSupportLinkTests@704a52ec]">sMMobileHelpSupportLinkTests</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="a38d86">  <td>20/01/16 07:55:47</td>   <td>808540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileMakePaymentLinkTests.sMMobileHelpSupportLinkTests()[pri:0, instance:com.tests.sitemanager.SMMobileMakePaymentLinkTests@7a1ebcd8]">sMMobileHelpSupportLinkTests</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="c7e1bb">  <td>20/01/16 07:57:56</td>   <td>937651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileSearchforUnitsTests.sMMobileHelpSupportLinkTests()[pri:0, instance:com.tests.sitemanager.SMMobileSearchforUnitsTests@34c4973]">sMMobileHelpSupportLinkTests</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>20/01/16 08:15:10</td>   <td>1972484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileSearchSignalStrengthTests.sMMobileHelpSupportLinkTests()[pri:0, instance:com.tests.sitemanager.SMMobileSearchSignalStrengthTests@27f723]">sMMobileHelpSupportLinkTests</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>20/01/16 08:19:28</td>   <td>2230207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobilePageRefreshTests.sMMobilePageRefreshTests()[pri:0, instance:com.tests.sitemanager.SMMobilePageRefreshTests@a38d7a3]">sMMobilePageRefreshTests</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6e858b">  <td>20/01/16 08:09:31</td>   <td>1632606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobilePhoneOpenUnitIconDisplayTests.sMMobilePhoneLoginTests()[pri:0, instance:com.tests.sitemanager.SMMobilePhoneOpenUnitIconDisplayTests@32d2fa64]">sMMobilePhoneLoginTests</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="96b1f3">  <td>20/01/16 08:11:17</td>   <td>1738805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileUnitsSortingbyNameTests.sMMobileUnitsSortingbyNameTests()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyNameTests@4abdb505]">sMMobileUnitsSortingbyNameTests</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="826eb1">  <td>20/01/16 08:13:11</td>   <td>1853472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileUnitsSortingbyTypeTests.sMMobileUnitsSortingbyTypeTests()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyTypeTests@42d8062c]">sMMobileUnitsSortingbyTypeTests</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="c274b2">  <td>20/01/16 08:17:36</td>   <td>2117962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewUnitsFromPieTests.sMMobileViewUnitsFromPieTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitsFromPieTests@262b2c86]">sMMobileViewUnitsFromPieTests</td> 
  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 07:41:40</td>   <td>-38174</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyBaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginTests@578486a3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="ae75a8">  <td>20/01/16 07:43:17</td>   <td>58947</td> <td>&nbsp;</td><td title="&gt;&gt;SMHuaweiBaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMHUAWEIMobileEmailLoginTests@23faf8f2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 07:43:32</td>   <td>74224</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyBaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileActivitySortingTests@56aac163]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 07:45:26</td>   <td>188112</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyBaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileAdvancedSettingsTests@167fdd33]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 07:47:21</td>   <td>303453</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyBaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileBottomMenuTests@6acdbdf5]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 07:49:39</td>   <td>440620</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyBaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileFeedbackTests@2d8f65a4]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 07:51:51</td>   <td>573267</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyBaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileHelpSupportLinkTests@704a52ec]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 07:55:08</td>   <td>769700</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyBaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileMakePaymentLinkTests@7a1ebcd8]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 07:57:16</td>   <td>897757</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyBaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileSearchforUnitsTests@34c4973]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 07:59:41</td>   <td>1043321</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyBaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileEmailViewTutorialsTests@2f943d71]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 08:01:41</td>   <td>1162998</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyBaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileEmailAddGatewayTests@2a742aa2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 08:03:50</td>   <td>1292079</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyBaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersRentalStatusTests@7a187f14]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 08:06:22</td>   <td>1443748</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyBaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersAccessTypeTests@3234e239]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 08:08:51</td>   <td>1592905</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyBaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobilePhoneOpenUnitIconDisplayTests@32d2fa64]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 08:10:38</td>   <td>1700028</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyBaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyNameTests@4abdb505]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 08:12:33</td>   <td>1814727</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyBaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyTypeTests@42d8062c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 08:14:33</td>   <td>1935074</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyBaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileSearchSignalStrengthTests@27f723]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 08:16:56</td>   <td>2078013</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyBaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitsFromPieTests@262b2c86]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 08:18:50</td>   <td>2192410</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyBaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobilePageRefreshTests@a38d7a3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 07:42:57</td>   <td>38529</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginTests@578486a3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="ae75a8">  <td>20/01/16 07:43:32</td>   <td>73997</td> <td>&nbsp;</td><td title="&lt;&lt;SMHuaweiBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMHUAWEIMobileEmailLoginTests@23faf8f2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 07:45:06</td>   <td>167573</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileActivitySortingTests@56aac163]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 07:47:01</td>   <td>283246</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileAdvancedSettingsTests@167fdd33]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 07:49:18</td>   <td>420199</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileBottomMenuTests@6acdbdf5]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 07:51:31</td>   <td>552901</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileFeedbackTests@2d8f65a4]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 07:54:47</td>   <td>749479</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileHelpSupportLinkTests@704a52ec]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 07:56:55</td>   <td>877307</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileMakePaymentLinkTests@7a1ebcd8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 07:59:21</td>   <td>1022805</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileSearchforUnitsTests@34c4973]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 08:01:21</td>   <td>1142734</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileEmailViewTutorialsTests@2f943d71]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 08:03:30</td>   <td>1271648</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileEmailAddGatewayTests@2a742aa2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 08:06:01</td>   <td>1423116</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersRentalStatusTests@7a187f14]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 08:08:31</td>   <td>1572553</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersAccessTypeTests@3234e239]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 08:10:18</td>   <td>1679550</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobilePhoneOpenUnitIconDisplayTests@32d2fa64]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 08:12:13</td>   <td>1794628</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyNameTests@4abdb505]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 08:14:13</td>   <td>1914947</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyTypeTests@42d8062c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 08:16:36</td>   <td>2057644</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileSearchSignalStrengthTests@27f723]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 08:18:30</td>   <td>2171832</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitsFromPieTests@262b2c86]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>20/01/16 08:20:30</td>   <td>2291658</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobilePageRefreshTests@a38d7a3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413246829</td>   <td></td> </tr>
</table>
