<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Samsung Galaxy S9 Remote Testing</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efa5e3">  <td>20/01/03 13:06:31</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;RemoteDefaultBaseClass.setup()[pri:0, instance:com.tests.RemoteAccess.RemoteDefaultMobileBottomMenuTests@2758fe70]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@54495403</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>20/01/03 13:06:50</td>   <td>19461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RemoteDefaultMobileBottomMenuTests.remoteDefaultMobileBottomMenuTests()[pri:0, instance:com.tests.RemoteAccess.RemoteDefaultMobileBottomMenuTests@2758fe70]">remoteDefaultMobileBottomMenuTests</td> 
  <td>main@54495403</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/01/03 13:06:52</td>   <td>21481</td> <td>&nbsp;</td><td title="&lt;&lt;RemoteDefaultBaseClass.teardown()[pri:0, instance:com.tests.RemoteAccess.RemoteDefaultMobileBottomMenuTests@2758fe70]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@54495403</td>   <td></td> </tr>
</table>
