<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SMAndroidDemoSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93dd95">  <td>20/12/10 11:28:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileEmailLoginTests.sMMobileEmailLoginTests()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginTests@3cef309d]">sMMobileEmailLoginTests</td> 
  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="a5f880">  <td>20/12/10 11:30:51</td>   <td>156341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileEmailLoginViewExitPageTests.sMMobileEmailLoginViewExitPageTests()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginViewExitPageTests@1d29cf23]">sMMobileEmailLoginViewExitPageTests</td> 
  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="bbf57e">  <td>20/12/10 11:29:26</td>   <td>71682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileHelpFeedbackTests.sMMobileHelpFeedbackTests()[pri:0, instance:com.tests.sitemanager.SMMobileHelpFeedbackTests@6895a785]">sMMobileHelpFeedbackTests</td> 
  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>20/12/10 11:27:24</td>   <td>-50462</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginTests@3cef309d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>20/12/10 11:28:36</td>   <td>21796</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileHelpFeedbackTests@6895a785]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>20/12/10 11:30:01</td>   <td>106852</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginViewExitPageTests@1d29cf23]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>20/12/10 11:28:28</td>   <td>13577</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginTests@3cef309d]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>20/12/10 11:29:53</td>   <td>98586</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileHelpFeedbackTests@6895a785]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>20/12/10 11:32:11</td>   <td>236457</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginViewExitPageTests@1d29cf23]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
</table>
