<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f777e8">  <td>21/04/23 14:02:54</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileExitPageLinksTests@cd2dae5]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@662822946</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>21/04/23 14:03:48</td>   <td>54379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileExitPageLinksTests.sMMobileExitPageLinksTests()[pri:0, instance:com.tests.sitemanager.SMMobileExitPageLinksTests@cd2dae5]">sMMobileExitPageLinksTests</td> 
  <td>main@662822946</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 14:06:01</td>   <td>186862</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileExitPageLinksTests@cd2dae5]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@662822946</td>   <td></td> </tr>
</table>
