<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SMAndroidSuiteGalaxyG9</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96b1f3">  <td>21/04/23 10:16:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileActivitySortingTests.sMMobileActivitySortingTests()[pri:0, instance:com.tests.sitemanager.SMMobileActivitySortingTests@38bc8ab5]">sMMobileActivitySortingTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="76af84">  <td>21/04/23 10:52:51</td>   <td>2188328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileBottomMenuTests.sMMobileBottomMenuTests()[pri:0, instance:com.tests.sitemanager.SMMobileBottomMenuTests@4ae82894]">sMMobileBottomMenuTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>21/04/23 09:53:50</td>   <td>-1353445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileEmailLoginTests.sMMobileEmailLoginTests()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginTests@cd2dae5]">sMMobileEmailLoginTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="68ddbd">  <td>21/04/23 10:01:08</td>   <td>-914894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileEmailLoginViewExitPageTests.sMMobileEmailLoginViewExitPageTests()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginViewExitPageTests@646d64ab]">sMMobileEmailLoginViewExitPageTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f7c8c1">  <td>21/04/23 10:45:41</td>   <td>1757680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileEmailViewTutorialsTests.sMMobileEmailViewTutorialsTests()[pri:0, instance:com.tests.sitemanager.SMMobileEmailViewTutorialsTests@2f0a87b3]">sMMobileEmailViewTutorialsTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="7c7ea0">  <td>21/04/23 09:58:58</td>   <td>-1045332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileExitPageLinksTests.sMMobileExitPageLinksTests()[pri:0, instance:com.tests.sitemanager.SMMobileExitPageLinksTests@17579e0f]">sMMobileExitPageLinksTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="6f8e63">  <td>21/04/23 11:01:05</td>   <td>2682302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileFilterRepeaterOnOffTests.sMMobileFilterRepeaterOnOffTests()[pri:0, instance:com.tests.sitemanager.SMMobileFilterRepeaterOnOffTests@6366ebe0]">sMMobileFilterRepeaterOnOffTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="629278">  <td>21/04/23 10:54:39</td>   <td>2295909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileFiltersAccessTypesTests.sMMobileFiltersAccessTypesTests()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersAccessTypesTests@768b970c]">sMMobileFiltersAccessTypesTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="a18f7b">  <td>21/04/23 10:56:49</td>   <td>2425993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileFiltersEntryTypesTests.sMMobileFiltersEntryTypesTests()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersEntryTypesTests@2f8f5f62]">sMMobileFiltersEntryTypesTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="9afc67">  <td>21/04/23 10:58:48</td>   <td>2544480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileFiltersRentedStatusTests.sMMobileFiltersRentedStatusTests()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersRentedStatusTests@382db087]">sMMobileFiltersRentedStatusTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="b6a261">  <td>21/04/23 10:38:45</td>   <td>1341822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileHelpDemoTests.sMMobileHelpDemoTests()[pri:0, instance:com.tests.sitemanager.SMMobileHelpDemoTests@42607a4f]">sMMobileHelpDemoTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="e58dcd">  <td>21/04/23 10:03:15</td>   <td>-788086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileHelpFeedbackTests.sMMobileHelpFeedbackTests()[pri:0, instance:com.tests.sitemanager.SMMobileHelpFeedbackTests@4493d195]">sMMobileHelpFeedbackTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="a38d86">  <td>21/04/23 10:04:56</td>   <td>-687089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileHelpAccountTests.sMMobileHelpInstallerToolsTests()[pri:0, instance:com.tests.sitemanager.SMMobileHelpAccountTests@34cd072c]">sMMobileHelpInstallerToolsTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="bd819e">  <td>21/04/23 10:30:47</td>   <td>863848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileHelpInstallerToolsTests.sMMobileHelpInstallerToolsTests()[pri:0, instance:com.tests.sitemanager.SMMobileHelpInstallerToolsTests@192d3247]">sMMobileHelpInstallerToolsTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="846d8c">  <td>21/04/23 10:44:27</td>   <td>1683891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileHelpLockScannerTests.sMMobileHelpLockScannerTests()[pri:0, instance:com.tests.sitemanager.SMMobileHelpLockScannerTests@548ad73b]">sMMobileHelpLockScannerTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="ac7162">  <td>21/04/23 10:37:03</td>   <td>1239565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileHelpSupportLinkTests.sMMobileHelpSupportLinkTests()[pri:0, instance:com.tests.sitemanager.SMMobileHelpSupportLinkTests@2de8284b]">sMMobileHelpSupportLinkTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="dbb0c5">  <td>21/04/23 10:43:16</td>   <td>1612691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileHelpSyncFobTenantTests.sMMobileHelpSyncFobTenantTests()[pri:0, instance:com.tests.sitemanager.SMMobileHelpSyncFobTenantTests@710726a3]">sMMobileHelpSyncFobTenantTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="90d1e6">  <td>21/04/23 10:32:39</td>   <td>975811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileHomePageNotificationsTests.sMMobileHomePageNotificationsTests()[pri:0, instance:com.tests.sitemanager.SMMobileHomePageNotificationsTests@5891e32e]">sMMobileHomePageNotificationsTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="b1ffe6">  <td>21/04/23 10:09:41</td>   <td>-401890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileMakePaymentLinkTests.sMMobileMakePaymentLinkTests()[pri:0, instance:com.tests.sitemanager.SMMobileMakePaymentLinkTests@3dfc5fb8]">sMMobileMakePaymentLinkTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="b1ffe6">  <td>21/04/23 10:33:50</td>   <td>1047038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileMakePaymentLinkTests.sMMobileMakePaymentLinkTests()[pri:0, instance:com.tests.sitemanager.SMMobileMakePaymentLinkTests@4e718207]">sMMobileMakePaymentLinkTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="96b684">  <td>21/04/23 09:57:18</td>   <td>-1144914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobilePageRefreshTests.sMMobilePageRefreshTests()[pri:0, instance:com.tests.sitemanager.SMMobilePageRefreshTests@4d95d2a2]">sMMobilePageRefreshTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="686563">  <td>21/04/23 10:07:59</td>   <td>-503952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileQuickStartGuideTests.sMMobileQuickStartGuideTests()[pri:0, instance:com.tests.sitemanager.SMMobileQuickStartGuideTests@4b553d26]">sMMobileQuickStartGuideTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="7cc5c9">  <td>21/04/23 10:27:20</td>   <td>656504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileSearchSignalStrengthTests.sMMobileSearchSignalStrengthTests()[pri:0, instance:com.tests.sitemanager.SMMobileSearchSignalStrengthTests@74ad1f1f]">sMMobileSearchSignalStrengthTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="faf8f2">  <td>21/04/23 09:55:36</td>   <td>-1246854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileSearchforDumbUnitsTests.sMMobileSearchforDumbUnitsTests()[pri:0, instance:com.tests.sitemanager.SMMobileSearchforDumbUnitsTests@5a1c0542]">sMMobileSearchforDumbUnitsTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="b279c9">  <td>21/04/23 11:03:56</td>   <td>2852858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewRepeaterTests.sMMobileSearchforUnitsTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewRepeaterTests@1ad282e0]">sMMobileSearchforUnitsTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="81cdd1">  <td>21/04/23 10:35:41</td>   <td>1157603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileSettingsAccountTests.sMMobileSettingsAccountTests()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsAccountTests@1fc2b765]">sMMobileSettingsAccountTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="aa8ea6">  <td>21/04/23 10:39:57</td>   <td>1413982</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileSettingsAdvancedTests.sMMobileSettingsAdvancedTests()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsAdvancedTests@2e3fc542]">sMMobileSettingsAdvancedTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="927e80">  <td>21/04/23 10:13:06</td>   <td>-196998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileSettingsHelpSupportLinkTests.sMMobileSettingsHelpSupportLinkTests()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsHelpSupportLinkTests@36b4cef0]">sMMobileSettingsHelpSupportLinkTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="646db9">  <td>21/04/23 10:29:06</td>   <td>762912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileSettingsSyncFobTests.sMMobileSettingsSyncFobTests()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsSyncFobTests@37374a5e]">sMMobileSettingsSyncFobTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f99a65">  <td>21/04/23 10:23:23</td>   <td>419823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileShowFirmwareVersionTests.sMMobileShowFirmwareVersionTests()[pri:0, instance:com.tests.sitemanager.SMMobileShowFirmwareVersionTests@63440df3]">sMMobileShowFirmwareVersionTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="b5cd60">  <td>21/04/23 10:18:06</td>   <td>102791</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileUnitsSortingbyNameTests.sMMobileUnitsSortingbyNameTests()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyNameTests@cb51256]">sMMobileUnitsSortingbyNameTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>21/04/23 10:19:49</td>   <td>206015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileUnitsSortingbyTypeTests.sMMobileUnitsSortingbyTypeTests()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyTypeTests@670b40af]">sMMobileUnitsSortingbyTypeTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="71c76a">  <td>21/04/23 11:02:33</td>   <td>2770412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewEntriesTests.sMMobileViewEntriesTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewEntriesTests@1d7acb34]">sMMobileViewEntriesTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="a0cee9">  <td>21/04/23 10:41:34</td>   <td>1510712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewGatewayDetailTests.sMMobileViewGatewayDetailTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewGatewayDetailTests@eb21112]">sMMobileViewGatewayDetailTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="b7f063">  <td>21/04/23 10:25:22</td>   <td>538765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewLocateUnitFromUnitDetailTests.sMMobileViewLocateUnitFromUnitDetailTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewLocateUnitFromUnitDetailTests@eafc191]">sMMobileViewLocateUnitFromUnitDetailTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="aca973">  <td>21/04/23 10:06:20</td>   <td>-603093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewTenantsActivityTests.sMMobileViewTenantsActivityTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewTenantsActivityTests@7a765367]">sMMobileViewTenantsActivityTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="aca973">  <td>21/04/23 10:51:10</td>   <td>2086600</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewTenantsActivityTests.sMMobileViewTenantsActivityTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewTenantsActivityTests@24b1d79b]">sMMobileViewTenantsActivityTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="dba6f9">  <td>21/04/23 10:49:17</td>   <td>1974363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewUnitDetailTests.sMMobileViewUnitDetailTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitDetailTests@10d59286]">sMMobileViewUnitDetailTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="64668d">  <td>21/04/23 10:47:25</td>   <td>1862280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewUnitLocksTests.sMMobileViewUnitLocksTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitLocksTests@4fcd19b3]">sMMobileViewUnitLocksTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="7a67ec">  <td>21/04/23 10:21:15</td>   <td>292116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewUnitTemperatureTests.sMMobileViewUnitTemperatureTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitTemperatureTests@5ed828d]">sMMobileViewUnitTemperatureTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="79bbc3">  <td>21/04/23 10:11:30</td>   <td>-292808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewUnitsFromPieTests.sMMobileViewUnitsFromPieTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitsFromPieTests@51e2adc7]">sMMobileViewUnitsFromPieTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="8d90f7">  <td>21/04/23 10:14:46</td>   <td>-97401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewUserRolesTests.sMMobileViewUserRolesTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewUserRolesTests@3e57cd70]">sMMobileViewUserRolesTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 09:52:56</td>   <td>-1407368</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginTests@cd2dae5]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 09:54:43</td>   <td>-1299722</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileSearchforDumbUnitsTests@5a1c0542]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 09:56:25</td>   <td>-1198217</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobilePageRefreshTests@4d95d2a2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 09:58:05</td>   <td>-1097717</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileExitPageLinksTests@17579e0f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:00:16</td>   <td>-967520</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginViewExitPageTests@646d64ab]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:02:24</td>   <td>-839312</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileHelpFeedbackTests@4493d195]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:04:04</td>   <td>-739223</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileHelpAccountTests@34cd072c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:05:27</td>   <td>-655594</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewTenantsActivityTests@7a765367]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:07:08</td>   <td>-555354</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileQuickStartGuideTests@4b553d26]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:08:49</td>   <td>-453686</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileMakePaymentLinkTests@3dfc5fb8]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:10:38</td>   <td>-344632</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitsFromPieTests@51e2adc7]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:12:13</td>   <td>-249931</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsHelpSupportLinkTests@36b4cef0]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:13:54</td>   <td>-149250</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewUserRolesTests@3e57cd70]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:15:31</td>   <td>-52159</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileActivitySortingTests@38bc8ab5]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:17:13</td>   <td>50207</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyNameTests@cb51256]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:18:58</td>   <td>154852</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyTypeTests@670b40af]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:20:23</td>   <td>239490</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitTemperatureTests@5ed828d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:22:30</td>   <td>367290</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileShowFirmwareVersionTests@63440df3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:24:28</td>   <td>485365</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewLocateUnitFromUnitDetailTests@eafc191]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:26:27</td>   <td>603708</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileSearchSignalStrengthTests@74ad1f1f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:28:13</td>   <td>710225</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsSyncFobTests@37374a5e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:29:55</td>   <td>811995</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileHelpInstallerToolsTests@192d3247]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:31:46</td>   <td>922810</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileHomePageNotificationsTests@5891e32e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:32:58</td>   <td>994565</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileMakePaymentLinkTests@4e718207]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:34:48</td>   <td>1105378</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsAccountTests@1fc2b765]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:36:10</td>   <td>1187139</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileHelpSupportLinkTests@2de8284b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:37:52</td>   <td>1289115</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileHelpDemoTests@42607a4f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:39:05</td>   <td>1361485</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsAdvancedTests@2e3fc542]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:40:41</td>   <td>1458120</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewGatewayDetailTests@eb21112]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:42:23</td>   <td>1559955</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileHelpSyncFobTenantTests@710726a3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:43:36</td>   <td>1632635</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileHelpLockScannerTests@548ad73b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:44:48</td>   <td>1704572</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileEmailViewTutorialsTests@2f0a87b3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:46:33</td>   <td>1809750</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitLocksTests@4fcd19b3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:48:25</td>   <td>1921526</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitDetailTests@10d59286]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:50:18</td>   <td>2035107</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewTenantsActivityTests@24b1d79b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:51:59</td>   <td>2135680</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileBottomMenuTests@4ae82894]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:53:46</td>   <td>2243211</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersAccessTypesTests@768b970c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:55:56</td>   <td>2373412</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersEntryTypesTests@2f8f5f62]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:57:55</td>   <td>2491862</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersRentedStatusTests@382db087]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 11:00:13</td>   <td>2629830</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileFilterRepeaterOnOffTests@6366ebe0]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 11:01:41</td>   <td>2717463</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewEntriesTests@1d7acb34]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 11:03:03</td>   <td>2800266</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewRepeaterTests@1ad282e0]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 09:54:34</td>   <td>-1308749</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginTests@cd2dae5]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 09:56:16</td>   <td>-1206988</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileSearchforDumbUnitsTests@5a1c0542]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 09:57:57</td>   <td>-1106349</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobilePageRefreshTests@4d95d2a2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:00:06</td>   <td>-976696</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileExitPageLinksTests@17579e0f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:02:15</td>   <td>-848261</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginViewExitPageTests@646d64ab]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:03:55</td>   <td>-748033</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileHelpFeedbackTests@4493d195]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:05:19</td>   <td>-664485</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileHelpAccountTests@34cd072c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:06:59</td>   <td>-564173</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewTenantsActivityTests@7a765367]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:08:41</td>   <td>-462560</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileQuickStartGuideTests@4b553d26]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:10:30</td>   <td>-353447</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileMakePaymentLinkTests@3dfc5fb8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:12:04</td>   <td>-258725</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitsFromPieTests@51e2adc7]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:13:45</td>   <td>-157873</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsHelpSupportLinkTests@36b4cef0]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:15:22</td>   <td>-60860</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewUserRolesTests@3e57cd70]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:17:05</td>   <td>41442</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileActivitySortingTests@38bc8ab5]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:18:49</td>   <td>146201</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyNameTests@cb51256]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:20:14</td>   <td>230806</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyTypeTests@670b40af]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:22:21</td>   <td>358357</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitTemperatureTests@5ed828d]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:24:20</td>   <td>476704</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileShowFirmwareVersionTests@63440df3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:26:18</td>   <td>594930</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewLocateUnitFromUnitDetailTests@eafc191]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:28:05</td>   <td>701568</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileSearchSignalStrengthTests@74ad1f1f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:29:46</td>   <td>803207</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsSyncFobTests@37374a5e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:31:37</td>   <td>914097</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileHelpInstallerToolsTests@192d3247]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:32:49</td>   <td>985722</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileHomePageNotificationsTests@5891e32e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:34:40</td>   <td>1096650</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileMakePaymentLinkTests@4e718207]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:36:02</td>   <td>1178473</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsAccountTests@1fc2b765]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:37:43</td>   <td>1280275</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileHelpSupportLinkTests@2de8284b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:38:56</td>   <td>1352925</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileHelpDemoTests@42607a4f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:40:33</td>   <td>1449509</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsAdvancedTests@2e3fc542]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:42:14</td>   <td>1551235</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewGatewayDetailTests@eb21112]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:43:27</td>   <td>1624032</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileHelpSyncFobTenantTests@710726a3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:44:39</td>   <td>1695941</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileHelpLockScannerTests@548ad73b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:46:24</td>   <td>1801130</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileEmailViewTutorialsTests@2f0a87b3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:48:16</td>   <td>1912838</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitLocksTests@4fcd19b3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:50:10</td>   <td>2026476</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitDetailTests@10d59286]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:51:50</td>   <td>2127211</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewTenantsActivityTests@24b1d79b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:53:38</td>   <td>2234665</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileBottomMenuTests@4ae82894]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:55:48</td>   <td>2364838</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersAccessTypesTests@768b970c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:57:46</td>   <td>2483248</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersEntryTypesTests@2f8f5f62]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 11:00:04</td>   <td>2621257</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersRentedStatusTests@382db087]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 11:01:32</td>   <td>2709033</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileFilterRepeaterOnOffTests@6366ebe0]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 11:02:55</td>   <td>2791744</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewEntriesTests@1d7acb34]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 11:05:09</td>   <td>2926323</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewRepeaterTests@1ad282e0]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
</table>
