<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SMAndroidSuiteGalaxyG9</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f777e8">  <td>21/04/23 09:52:56</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginTests@cd2dae5]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>21/04/23 09:53:50</td>   <td>53923</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileEmailLoginTests.sMMobileEmailLoginTests()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginTests@cd2dae5]">sMMobileEmailLoginTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 09:54:34</td>   <td>98619</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginTests@cd2dae5]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 09:54:43</td>   <td>107646</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileSearchforDumbUnitsTests@5a1c0542]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="faf8f2">  <td>21/04/23 09:55:36</td>   <td>160514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileSearchforDumbUnitsTests.sMMobileSearchforDumbUnitsTests()[pri:0, instance:com.tests.sitemanager.SMMobileSearchforDumbUnitsTests@5a1c0542]">sMMobileSearchforDumbUnitsTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 09:56:16</td>   <td>200380</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileSearchforDumbUnitsTests@5a1c0542]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 09:56:25</td>   <td>209151</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobilePageRefreshTests@4d95d2a2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="96b684">  <td>21/04/23 09:57:18</td>   <td>262454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobilePageRefreshTests.sMMobilePageRefreshTests()[pri:0, instance:com.tests.sitemanager.SMMobilePageRefreshTests@4d95d2a2]">sMMobilePageRefreshTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 09:57:57</td>   <td>301019</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobilePageRefreshTests@4d95d2a2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 09:58:05</td>   <td>309651</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileExitPageLinksTests@17579e0f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="7c7ea0">  <td>21/04/23 09:58:58</td>   <td>362036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileExitPageLinksTests.sMMobileExitPageLinksTests()[pri:0, instance:com.tests.sitemanager.SMMobileExitPageLinksTests@17579e0f]">sMMobileExitPageLinksTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:00:06</td>   <td>430672</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileExitPageLinksTests@17579e0f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:00:16</td>   <td>439848</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginViewExitPageTests@646d64ab]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="68ddbd">  <td>21/04/23 10:01:08</td>   <td>492474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileEmailLoginViewExitPageTests.sMMobileEmailLoginViewExitPageTests()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginViewExitPageTests@646d64ab]">sMMobileEmailLoginViewExitPageTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:02:15</td>   <td>559107</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginViewExitPageTests@646d64ab]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:02:24</td>   <td>568056</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileHelpFeedbackTests@4493d195]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="e58dcd">  <td>21/04/23 10:03:15</td>   <td>619282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileHelpFeedbackTests.sMMobileHelpFeedbackTests()[pri:0, instance:com.tests.sitemanager.SMMobileHelpFeedbackTests@4493d195]">sMMobileHelpFeedbackTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:03:55</td>   <td>659335</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileHelpFeedbackTests@4493d195]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:04:04</td>   <td>668145</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileHelpAccountTests@34cd072c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="a38d86">  <td>21/04/23 10:04:56</td>   <td>720279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileHelpAccountTests.sMMobileHelpInstallerToolsTests()[pri:0, instance:com.tests.sitemanager.SMMobileHelpAccountTests@34cd072c]">sMMobileHelpInstallerToolsTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:05:19</td>   <td>742883</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileHelpAccountTests@34cd072c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:05:27</td>   <td>751774</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewTenantsActivityTests@7a765367]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="aca973">  <td>21/04/23 10:06:20</td>   <td>804275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewTenantsActivityTests.sMMobileViewTenantsActivityTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewTenantsActivityTests@7a765367]">sMMobileViewTenantsActivityTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:06:59</td>   <td>843195</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewTenantsActivityTests@7a765367]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:07:08</td>   <td>852014</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileQuickStartGuideTests@4b553d26]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="686563">  <td>21/04/23 10:07:59</td>   <td>903416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileQuickStartGuideTests.sMMobileQuickStartGuideTests()[pri:0, instance:com.tests.sitemanager.SMMobileQuickStartGuideTests@4b553d26]">sMMobileQuickStartGuideTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:08:41</td>   <td>944808</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileQuickStartGuideTests@4b553d26]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:08:49</td>   <td>953682</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileMakePaymentLinkTests@3dfc5fb8]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="b1ffe6">  <td>21/04/23 10:09:41</td>   <td>1005478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileMakePaymentLinkTests.sMMobileMakePaymentLinkTests()[pri:0, instance:com.tests.sitemanager.SMMobileMakePaymentLinkTests@3dfc5fb8]">sMMobileMakePaymentLinkTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:10:30</td>   <td>1053921</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileMakePaymentLinkTests@3dfc5fb8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:10:38</td>   <td>1062736</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitsFromPieTests@51e2adc7]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="79bbc3">  <td>21/04/23 10:11:30</td>   <td>1114560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewUnitsFromPieTests.sMMobileViewUnitsFromPieTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitsFromPieTests@51e2adc7]">sMMobileViewUnitsFromPieTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:12:04</td>   <td>1148643</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitsFromPieTests@51e2adc7]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:12:13</td>   <td>1157437</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsHelpSupportLinkTests@36b4cef0]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="927e80">  <td>21/04/23 10:13:06</td>   <td>1210370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileSettingsHelpSupportLinkTests.sMMobileSettingsHelpSupportLinkTests()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsHelpSupportLinkTests@36b4cef0]">sMMobileSettingsHelpSupportLinkTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:13:45</td>   <td>1249495</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsHelpSupportLinkTests@36b4cef0]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:13:54</td>   <td>1258118</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewUserRolesTests@3e57cd70]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="8d90f7">  <td>21/04/23 10:14:46</td>   <td>1309967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewUserRolesTests.sMMobileViewUserRolesTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewUserRolesTests@3e57cd70]">sMMobileViewUserRolesTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:15:22</td>   <td>1346508</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewUserRolesTests@3e57cd70]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:15:31</td>   <td>1355209</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileActivitySortingTests@38bc8ab5]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="96b1f3">  <td>21/04/23 10:16:23</td>   <td>1407368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileActivitySortingTests.sMMobileActivitySortingTests()[pri:0, instance:com.tests.sitemanager.SMMobileActivitySortingTests@38bc8ab5]">sMMobileActivitySortingTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:17:05</td>   <td>1448810</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileActivitySortingTests@38bc8ab5]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:17:13</td>   <td>1457575</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyNameTests@cb51256]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="b5cd60">  <td>21/04/23 10:18:06</td>   <td>1510159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileUnitsSortingbyNameTests.sMMobileUnitsSortingbyNameTests()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyNameTests@cb51256]">sMMobileUnitsSortingbyNameTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:18:49</td>   <td>1553569</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyNameTests@cb51256]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:18:58</td>   <td>1562220</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyTypeTests@670b40af]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="87f783">  <td>21/04/23 10:19:49</td>   <td>1613383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileUnitsSortingbyTypeTests.sMMobileUnitsSortingbyTypeTests()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyTypeTests@670b40af]">sMMobileUnitsSortingbyTypeTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:20:14</td>   <td>1638174</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileUnitsSortingbyTypeTests@670b40af]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:20:23</td>   <td>1646858</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitTemperatureTests@5ed828d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="7a67ec">  <td>21/04/23 10:21:15</td>   <td>1699484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewUnitTemperatureTests.sMMobileViewUnitTemperatureTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitTemperatureTests@5ed828d]">sMMobileViewUnitTemperatureTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:22:21</td>   <td>1765725</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitTemperatureTests@5ed828d]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:22:30</td>   <td>1774658</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileShowFirmwareVersionTests@63440df3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f99a65">  <td>21/04/23 10:23:23</td>   <td>1827191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileShowFirmwareVersionTests.sMMobileShowFirmwareVersionTests()[pri:0, instance:com.tests.sitemanager.SMMobileShowFirmwareVersionTests@63440df3]">sMMobileShowFirmwareVersionTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:24:20</td>   <td>1884072</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileShowFirmwareVersionTests@63440df3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:24:28</td>   <td>1892733</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewLocateUnitFromUnitDetailTests@eafc191]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="b7f063">  <td>21/04/23 10:25:22</td>   <td>1946133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewLocateUnitFromUnitDetailTests.sMMobileViewLocateUnitFromUnitDetailTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewLocateUnitFromUnitDetailTests@eafc191]">sMMobileViewLocateUnitFromUnitDetailTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:26:18</td>   <td>2002298</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewLocateUnitFromUnitDetailTests@eafc191]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:26:27</td>   <td>2011076</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileSearchSignalStrengthTests@74ad1f1f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="7cc5c9">  <td>21/04/23 10:27:20</td>   <td>2063872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileSearchSignalStrengthTests.sMMobileSearchSignalStrengthTests()[pri:0, instance:com.tests.sitemanager.SMMobileSearchSignalStrengthTests@74ad1f1f]">sMMobileSearchSignalStrengthTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:28:05</td>   <td>2108936</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileSearchSignalStrengthTests@74ad1f1f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:28:13</td>   <td>2117593</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsSyncFobTests@37374a5e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="646db9">  <td>21/04/23 10:29:06</td>   <td>2170280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileSettingsSyncFobTests.sMMobileSettingsSyncFobTests()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsSyncFobTests@37374a5e]">sMMobileSettingsSyncFobTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:29:46</td>   <td>2210575</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsSyncFobTests@37374a5e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:29:55</td>   <td>2219363</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileHelpInstallerToolsTests@192d3247]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="bd819e">  <td>21/04/23 10:30:47</td>   <td>2271216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileHelpInstallerToolsTests.sMMobileHelpInstallerToolsTests()[pri:0, instance:com.tests.sitemanager.SMMobileHelpInstallerToolsTests@192d3247]">sMMobileHelpInstallerToolsTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:31:37</td>   <td>2321465</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileHelpInstallerToolsTests@192d3247]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:31:46</td>   <td>2330178</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileHomePageNotificationsTests@5891e32e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="90d1e6">  <td>21/04/23 10:32:39</td>   <td>2383179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileHomePageNotificationsTests.sMMobileHomePageNotificationsTests()[pri:0, instance:com.tests.sitemanager.SMMobileHomePageNotificationsTests@5891e32e]">sMMobileHomePageNotificationsTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:32:49</td>   <td>2393090</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileHomePageNotificationsTests@5891e32e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:32:58</td>   <td>2401933</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileMakePaymentLinkTests@4e718207]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="b1ffe6">  <td>21/04/23 10:33:50</td>   <td>2454406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileMakePaymentLinkTests.sMMobileMakePaymentLinkTests()[pri:0, instance:com.tests.sitemanager.SMMobileMakePaymentLinkTests@4e718207]">sMMobileMakePaymentLinkTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:34:40</td>   <td>2504018</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileMakePaymentLinkTests@4e718207]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:34:48</td>   <td>2512746</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsAccountTests@1fc2b765]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="81cdd1">  <td>21/04/23 10:35:41</td>   <td>2564971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileSettingsAccountTests.sMMobileSettingsAccountTests()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsAccountTests@1fc2b765]">sMMobileSettingsAccountTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:36:02</td>   <td>2585841</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsAccountTests@1fc2b765]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:36:10</td>   <td>2594507</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileHelpSupportLinkTests@2de8284b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="ac7162">  <td>21/04/23 10:37:03</td>   <td>2646933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileHelpSupportLinkTests.sMMobileHelpSupportLinkTests()[pri:0, instance:com.tests.sitemanager.SMMobileHelpSupportLinkTests@2de8284b]">sMMobileHelpSupportLinkTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:37:43</td>   <td>2687643</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileHelpSupportLinkTests@2de8284b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:37:52</td>   <td>2696483</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileHelpDemoTests@42607a4f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="b6a261">  <td>21/04/23 10:38:45</td>   <td>2749190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileHelpDemoTests.sMMobileHelpDemoTests()[pri:0, instance:com.tests.sitemanager.SMMobileHelpDemoTests@42607a4f]">sMMobileHelpDemoTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:38:56</td>   <td>2760293</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileHelpDemoTests@42607a4f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:39:05</td>   <td>2768853</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsAdvancedTests@2e3fc542]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="aa8ea6">  <td>21/04/23 10:39:57</td>   <td>2821350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileSettingsAdvancedTests.sMMobileSettingsAdvancedTests()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsAdvancedTests@2e3fc542]">sMMobileSettingsAdvancedTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:40:33</td>   <td>2856877</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsAdvancedTests@2e3fc542]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:40:41</td>   <td>2865488</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewGatewayDetailTests@eb21112]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="a0cee9">  <td>21/04/23 10:41:34</td>   <td>2918080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewGatewayDetailTests.sMMobileViewGatewayDetailTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewGatewayDetailTests@eb21112]">sMMobileViewGatewayDetailTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:42:14</td>   <td>2958603</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewGatewayDetailTests@eb21112]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:42:23</td>   <td>2967323</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileHelpSyncFobTenantTests@710726a3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="dbb0c5">  <td>21/04/23 10:43:16</td>   <td>3020059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileHelpSyncFobTenantTests.sMMobileHelpSyncFobTenantTests()[pri:0, instance:com.tests.sitemanager.SMMobileHelpSyncFobTenantTests@710726a3]">sMMobileHelpSyncFobTenantTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:43:27</td>   <td>3031400</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileHelpSyncFobTenantTests@710726a3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:43:36</td>   <td>3040003</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileHelpLockScannerTests@548ad73b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="846d8c">  <td>21/04/23 10:44:27</td>   <td>3091259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileHelpLockScannerTests.sMMobileHelpLockScannerTests()[pri:0, instance:com.tests.sitemanager.SMMobileHelpLockScannerTests@548ad73b]">sMMobileHelpLockScannerTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:44:39</td>   <td>3103309</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileHelpLockScannerTests@548ad73b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:44:48</td>   <td>3111940</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileEmailViewTutorialsTests@2f0a87b3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f7c8c1">  <td>21/04/23 10:45:41</td>   <td>3165048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileEmailViewTutorialsTests.sMMobileEmailViewTutorialsTests()[pri:0, instance:com.tests.sitemanager.SMMobileEmailViewTutorialsTests@2f0a87b3]">sMMobileEmailViewTutorialsTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:46:24</td>   <td>3208498</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileEmailViewTutorialsTests@2f0a87b3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:46:33</td>   <td>3217118</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitLocksTests@4fcd19b3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="64668d">  <td>21/04/23 10:47:25</td>   <td>3269648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewUnitLocksTests.sMMobileViewUnitLocksTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitLocksTests@4fcd19b3]">sMMobileViewUnitLocksTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:48:16</td>   <td>3320206</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitLocksTests@4fcd19b3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:48:25</td>   <td>3328894</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitDetailTests@10d59286]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="dba6f9">  <td>21/04/23 10:49:17</td>   <td>3381731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewUnitDetailTests.sMMobileViewUnitDetailTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitDetailTests@10d59286]">sMMobileViewUnitDetailTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:50:10</td>   <td>3433844</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitDetailTests@10d59286]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:50:18</td>   <td>3442475</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewTenantsActivityTests@24b1d79b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="aca973">  <td>21/04/23 10:51:10</td>   <td>3493968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewTenantsActivityTests.sMMobileViewTenantsActivityTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewTenantsActivityTests@24b1d79b]">sMMobileViewTenantsActivityTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:51:50</td>   <td>3534579</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewTenantsActivityTests@24b1d79b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:51:59</td>   <td>3543048</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileBottomMenuTests@4ae82894]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="76af84">  <td>21/04/23 10:52:51</td>   <td>3595696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileBottomMenuTests.sMMobileBottomMenuTests()[pri:0, instance:com.tests.sitemanager.SMMobileBottomMenuTests@4ae82894]">sMMobileBottomMenuTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:53:38</td>   <td>3642033</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileBottomMenuTests@4ae82894]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:53:46</td>   <td>3650579</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersAccessTypesTests@768b970c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="629278">  <td>21/04/23 10:54:39</td>   <td>3703277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileFiltersAccessTypesTests.sMMobileFiltersAccessTypesTests()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersAccessTypesTests@768b970c]">sMMobileFiltersAccessTypesTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:55:48</td>   <td>3772206</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersAccessTypesTests@768b970c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:55:56</td>   <td>3780780</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersEntryTypesTests@2f8f5f62]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="a18f7b">  <td>21/04/23 10:56:49</td>   <td>3833361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileFiltersEntryTypesTests.sMMobileFiltersEntryTypesTests()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersEntryTypesTests@2f8f5f62]">sMMobileFiltersEntryTypesTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:57:46</td>   <td>3890616</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersEntryTypesTests@2f8f5f62]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 10:57:55</td>   <td>3899230</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersRentedStatusTests@382db087]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="9afc67">  <td>21/04/23 10:58:48</td>   <td>3951848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileFiltersRentedStatusTests.sMMobileFiltersRentedStatusTests()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersRentedStatusTests@382db087]">sMMobileFiltersRentedStatusTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 11:00:04</td>   <td>4028625</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileFiltersRentedStatusTests@382db087]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 11:00:13</td>   <td>4037198</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileFilterRepeaterOnOffTests@6366ebe0]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="6f8e63">  <td>21/04/23 11:01:05</td>   <td>4089670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileFilterRepeaterOnOffTests.sMMobileFilterRepeaterOnOffTests()[pri:0, instance:com.tests.sitemanager.SMMobileFilterRepeaterOnOffTests@6366ebe0]">sMMobileFilterRepeaterOnOffTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 11:01:32</td>   <td>4116401</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileFilterRepeaterOnOffTests@6366ebe0]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 11:01:41</td>   <td>4124831</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewEntriesTests@1d7acb34]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="71c76a">  <td>21/04/23 11:02:33</td>   <td>4177780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewEntriesTests.sMMobileViewEntriesTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewEntriesTests@1d7acb34]">sMMobileViewEntriesTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 11:02:55</td>   <td>4199112</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewEntriesTests@1d7acb34]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 11:03:03</td>   <td>4207634</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseNewLoginClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewRepeaterTests@1ad282e0]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="b279c9">  <td>21/04/23 11:03:56</td>   <td>4260226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewRepeaterTests.sMMobileSearchforUnitsTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewRepeaterTests@1ad282e0]">sMMobileSearchforUnitsTests</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/23 11:05:09</td>   <td>4333691</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseNewLoginClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewRepeaterTests@1ad282e0]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
</table>
