<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Samsung Galaxy S9</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93dd95">  <td>19/12/23 11:28:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileBottomMenuTests.defaultMobileBottomMenuTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileBottomMenuTests@2758fe70]">defaultMobileBottomMenuTests</td> 
  <td>main@733957003</td>   <td></td> </tr>
<tr bgcolor="707e96">  <td>19/12/23 11:30:30</td>   <td>111994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileEmailLoginTests.defaultMobileEmailLoginTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileEmailLoginTests@7f13d6e]">defaultMobileEmailLoginTests</td> 
  <td>main@733957003</td>   <td></td> </tr>
<tr bgcolor="bbd26a">  <td>19/12/23 11:31:41</td>   <td>182455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileSyncFobTests.defaultMobileSyncFobTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileSyncFobTests@48503868]">defaultMobileSyncFobTests</td> 
  <td>main@733957003</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/12/23 11:28:04</td>   <td>-34490</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileBottomMenuTests@2758fe70]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@733957003</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/12/23 11:29:58</td>   <td>79848</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileEmailLoginTests@7f13d6e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@733957003</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/12/23 11:31:09</td>   <td>150897</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileSyncFobTests@48503868]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@733957003</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/12/23 11:29:54</td>   <td>75552</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileBottomMenuTests@2758fe70]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@733957003</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/12/23 11:31:05</td>   <td>146678</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileEmailLoginTests@7f13d6e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@733957003</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/12/23 11:32:41</td>   <td>242503</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileSyncFobTests@48503868]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@733957003</td>   <td></td> </tr>
</table>
