<h2>Methods that were not run</h2><table>
<tr><td>com.tests.defaultuser.DefaultBaseClass.setup</td></tr>
<tr><td>com.tests.defaultuser.DefaultBaseClass.teardown</td></tr>
<tr><td>com.tests.defaultuser.DefaultBaseClass.setup</td></tr>
<tr><td>com.tests.defaultuser.DefaultBaseClass.teardown</td></tr>
<tr><td>com.tests.defaultuser.DefaultBaseClass.setup</td></tr>
<tr><td>com.tests.defaultuser.DefaultBaseClass.setup</td></tr>
<tr><td>com.tests.defaultuser.DefaultBaseClass.setup</td></tr>
<tr><td>com.tests.defaultuser.DefaultBaseClass.setup</td></tr>
<tr><td>com.tests.defaultuser.DefaultBaseClass.setup</td></tr>
<tr><td>com.tests.defaultuser.DefaultBaseClass.setup</td></tr>
<tr><td>com.tests.defaultuser.DefaultBaseClass.teardown</td></tr>
<tr><td>com.tests.defaultuser.DefaultBaseClass.teardown</td></tr>
<tr><td>com.tests.defaultuser.DefaultBaseClass.teardown</td></tr>
<tr><td>com.tests.defaultuser.DefaultBaseClass.teardown</td></tr>
<tr><td>com.tests.defaultuser.DefaultBaseClass.teardown</td></tr>
<tr><td>com.tests.defaultuser.DefaultBaseClass.teardown</td></tr>
</table>