<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DefaultSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bf97b9">  <td>20/01/16 09:02:30</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileEmailLoginTests@49fc609f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>20/01/16 09:03:05</td>   <td>35699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileEmailLoginTests.defaultMobileEmailLoginTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileEmailLoginTests@49fc609f]">defaultMobileEmailLoginTests</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>20/01/16 09:03:53</td>   <td>83786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobilePhoneLoginTests.defaultMobilePhoneLoginTests()[pri:0, instance:com.tests.defaultuser.DefaultMobilePhoneLoginTests@cd2dae5]">defaultMobilePhoneLoginTests</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>20/01/16 09:03:56</td>   <td>85951</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileEmailLoginTests@49fc609f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>20/01/16 09:04:09</td>   <td>99767</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileHelpSupportLinkTests@4e7dc304]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="faf8f2">  <td>20/01/16 09:04:46</td>   <td>136125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileHelpSupportLinkTests.defaultMobileHelpSupportLinkTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileHelpSupportLinkTests@4e7dc304]">defaultMobileHelpSupportLinkTests</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="6eabae">  <td>20/01/16 09:06:34</td>   <td>244206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileViewTutorialsTests.defaultMobileViewTutorialsTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileViewTutorialsTests@64729b1e]">defaultMobileViewTutorialsTests</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>20/01/16 09:06:36</td>   <td>246329</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileHelpSupportLinkTests@4e7dc304]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>20/01/16 09:06:50</td>   <td>260184</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileBottomMenuTests@4d95d2a2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="7c65a2">  <td>20/01/16 09:07:26</td>   <td>296764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileBottomMenuTests.defaultMobileBottomMenuTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileBottomMenuTests@4d95d2a2]">defaultMobileBottomMenuTests</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="6f6598">  <td>20/01/16 09:08:43</td>   <td>373253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileFeedbackLinkTests.defaultMobileFeedbackLinkTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileFeedbackLinkTests@53f65459]">defaultMobileFeedbackLinkTests</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>20/01/16 09:08:45</td>   <td>375401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileActivitySortingTests.defaultMobileActivitySortingTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileActivitySortingTests@3b088d51]">defaultMobileActivitySortingTests</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="a5f880">  <td>20/01/16 09:08:47</td>   <td>377514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileViewUnitTests.defaultMobileViewUnitTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileViewUnitTests@1786dec2]">defaultMobileViewUnitTests</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="89cf83">  <td>20/01/16 09:08:49</td>   <td>379612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobilePageRefreshTests.defaultMobilePageRefreshTests()[pri:0, instance:com.tests.defaultuser.DefaultMobilePageRefreshTests@74650e52]">defaultMobilePageRefreshTests</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="888abb">  <td>20/01/16 09:08:51</td>   <td>381714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileShareUnitTests.remoteDefaultMobileBottomMenuTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileShareUnitTests@15d0c81b]">remoteDefaultMobileBottomMenuTests</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="7fdd93">  <td>20/01/16 09:08:53</td>   <td>383818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileSyncFobTests.defaultMobileSyncFobTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileSyncFobTests@6acdbdf5]">defaultMobileSyncFobTests</td> 
  <td>main@712256162</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>20/01/16 09:08:55</td>   <td>385916</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileBottomMenuTests@4d95d2a2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@712256162</td>   <td></td> </tr>
</table>
