<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Samsung Galaxy S9 Default</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="77ab81">  <td>20/01/02 10:12:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileActivitySortingTests.defaultMobileActivitySortingTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileActivitySortingTests@458c1321]">defaultMobileActivitySortingTests</td> 
  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="bbd26a">  <td>20/01/02 10:02:17</td>   <td>-623139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileBottomMenuTests.defaultMobileBottomMenuTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileBottomMenuTests@48503868]">defaultMobileBottomMenuTests</td> 
  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>20/01/02 09:59:11</td>   <td>-808883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileEmailLoginTests.defaultMobileEmailLoginTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileEmailLoginTests@2758fe70]">defaultMobileEmailLoginTests</td> 
  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>20/01/02 10:08:52</td>   <td>-227716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileFeedbackLinkTests.defaultMobileFeedbackLinkTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileFeedbackLinkTests@2833cc44]">defaultMobileFeedbackLinkTests</td> 
  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>20/01/02 10:04:24</td>   <td>-496191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileHelpSupportLinkTests.defaultMobileHelpSupportLinkTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileHelpSupportLinkTests@27a5f880]">defaultMobileHelpSupportLinkTests</td> 
  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="707e96">  <td>20/01/02 10:00:48</td>   <td>-711960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobilePhoneLoginTests.defaultMobilePhoneLoginTests()[pri:0, instance:com.tests.defaultuser.DefaultMobilePhoneLoginTests@7f13d6e]">defaultMobilePhoneLoginTests</td> 
  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="688db1">  <td>20/01/02 10:07:01</td>   <td>-339133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileSyncFobTests.defaultMobileSyncFobTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileSyncFobTests@1786dec2]">defaultMobileSyncFobTests</td> 
  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>20/01/02 10:11:04</td>   <td>-95696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileViewTutorialsTests.defaultMobileViewTutorialsTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileViewTutorialsTests@e320068]">defaultMobileViewTutorialsTests</td> 
  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="b69da5">  <td>20/01/02 10:14:30</td>   <td>110106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DefaultMobileViewUnitTests.defaultMobileViewUnitTests()[pri:0, instance:com.tests.defaultuser.DefaultMobileViewUnitTests@2bbf4b8b]">defaultMobileViewUnitTests</td> 
  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/01/02 09:58:34</td>   <td>-846191</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileEmailLoginTests@2758fe70]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/01/02 10:00:12</td>   <td>-748329</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobilePhoneLoginTests@7f13d6e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/01/02 10:01:41</td>   <td>-659204</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileBottomMenuTests@48503868]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/01/02 10:03:47</td>   <td>-532689</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileHelpSupportLinkTests@27a5f880]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/01/02 10:06:25</td>   <td>-375246</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileSyncFobTests@1786dec2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/01/02 10:08:15</td>   <td>-264647</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileFeedbackLinkTests@2833cc44]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/01/02 10:10:28</td>   <td>-131916</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileViewTutorialsTests@e320068]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/01/02 10:12:05</td>   <td>-35220</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileActivitySortingTests@458c1321]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/01/02 10:13:55</td>   <td>74916</td> <td>&nbsp;</td><td title="&gt;&gt;DefaultBaseClass.setup()[pri:0, instance:com.tests.defaultuser.DefaultMobileViewUnitTests@2bbf4b8b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/01/02 09:59:58</td>   <td>-762106</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileEmailLoginTests@2758fe70]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/01/02 10:01:27</td>   <td>-672900</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobilePhoneLoginTests@7f13d6e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/01/02 10:03:33</td>   <td>-546487</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileBottomMenuTests@48503868]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/01/02 10:06:11</td>   <td>-389190</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileHelpSupportLinkTests@27a5f880]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/01/02 10:08:02</td>   <td>-278260</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileSyncFobTests@1786dec2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/01/02 10:10:14</td>   <td>-145836</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileFeedbackLinkTests@2833cc44]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/01/02 10:11:51</td>   <td>-49052</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileViewTutorialsTests@e320068]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/01/02 10:13:41</td>   <td>61175</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileActivitySortingTests@458c1321]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/01/02 10:15:32</td>   <td>172476</td> <td>&nbsp;</td><td title="&lt;&lt;DefaultBaseClass.teardown()[pri:0, instance:com.tests.defaultuser.DefaultMobileViewUnitTests@2bbf4b8b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
</table>
