<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SMLMG710-AndroidSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93dd95">  <td>20/02/28 09:05:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileEmailLoginTests.mobileEmailLoginTests()[pri:0, instance:com.test.sitemanager.lmg710.SMMobileEmailLoginTests@2758fe70]">mobileEmailLoginTests</td> 
  <td>main@1166807841</td>   <td></td> </tr>
<tr bgcolor="707e96">  <td>20/02/28 09:08:15</td>   <td>167799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileFeedbackTests.sMMobileFeedbackTests()[pri:0, instance:com.test.sitemanager.lmg710.SMMobileFeedbackTests@7f13d6e]">sMMobileFeedbackTests</td> 
  <td>main@1166807841</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/28 09:04:15</td>   <td>-72472</td> <td>&nbsp;</td><td title="&gt;&gt;SMLGG7ThinQ_LMG710BaseClass.setup()[pri:0, instance:com.test.sitemanager.lmg710.SMMobileEmailLoginTests@2758fe70]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1166807841</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/28 09:06:43</td>   <td>75520</td> <td>&nbsp;</td><td title="&gt;&gt;SMLGG7ThinQ_LMG710BaseClass.setup()[pri:0, instance:com.test.sitemanager.lmg710.SMMobileFeedbackTests@7f13d6e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1166807841</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/28 09:06:11</td>   <td>43520</td> <td>&nbsp;</td><td title="&lt;&lt;SMLGG7ThinQ_LMG710BaseClass.teardown()[pri:0, instance:com.test.sitemanager.lmg710.SMMobileEmailLoginTests@2758fe70]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1166807841</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/28 09:08:17</td>   <td>169806</td> <td>&nbsp;</td><td title="&lt;&lt;SMLGG7ThinQ_LMG710BaseClass.teardown()[pri:0, instance:com.test.sitemanager.lmg710.SMMobileFeedbackTests@7f13d6e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1166807841</td>   <td></td> </tr>
</table>
