<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SMAndroidSuitN920T</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="91936c">  <td>20/03/13 11:45:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5BottomMenuTests.sMMobileBottomMenuTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5BottomMenuTests@42f93a98]">sMMobileBottomMenuTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="d37475">  <td>20/03/13 11:46:17</td>   <td>57938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5RemoteUnlockAvailableUnitsTests.sMMobileBottomMenuTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5RemoteUnlockAvailableUnitsTests@27808f31]">sMMobileBottomMenuTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="bfd8bd">  <td>20/03/13 11:40:30</td>   <td>-289415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5ActivitySortingTests.sMMobileNote5ActivitySortingTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ActivitySortingTests@11438d26]">sMMobileNote5ActivitySortingTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>20/03/13 11:32:29</td>   <td>-770275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5EmailLoginTest.sMMobileNote5EmailLoginTest()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5EmailLoginTest@2758fe70]">sMMobileNote5EmailLoginTest</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="a5f880">  <td>20/03/13 11:36:41</td>   <td>-517933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5FeedbackTests.sMMobileNote5FeedbackTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5FeedbackTests@1d29cf23]">sMMobileNote5FeedbackTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="a3fe6e">  <td>20/03/13 11:42:28</td>   <td>-171518</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5SearchSignalStrengthTests.sMMobileNote5SearchSignalStrengthTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SearchSignalStrengthTests@78e67e0a]">sMMobileNote5SearchSignalStrengthTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="86dec2">  <td>20/03/13 11:37:38</td>   <td>-461614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5SettingsAccountTests.sMMobileNote5SettingsAccountTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SettingsAccountTests@74650e52]">sMMobileNote5SettingsAccountTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="93cca4">  <td>20/03/13 11:38:34</td>   <td>-405128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5SettingsAdvancedTests.sMMobileNote5SettingsAdvancedTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SettingsAdvancedTests@33f88ab]">sMMobileNote5SettingsAdvancedTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="926068">  <td>20/03/13 11:39:33</td>   <td>-346470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5SettingsHelpSupportLinkTests.sMMobileNote5SettingsHelpSupportLinkTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SettingsHelpSupportLinkTests@1f57539]">sMMobileNote5SettingsHelpSupportLinkTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="8d779b">  <td>20/03/13 11:44:22</td>   <td>-57142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5ViewUnitDetailTests.sMMobileNote5ViewUnitDetailTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ViewUnitDetailTests@2173f6d9]">sMMobileNote5ViewUnitDetailTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="6bdb79">  <td>20/03/13 11:43:26</td>   <td>-113353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5ViewUnitsFromPieTests.sMMobileNote5ViewUnitsFromPieTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ViewUnitsFromPieTests@2a556333]">sMMobileNote5ViewUnitsFromPieTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="707e96">  <td>20/03/13 11:34:45</td>   <td>-634278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5PhoneLoginTests.sMMobilePhoneLoginTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5PhoneLoginTests@51cdd8a]">sMMobilePhoneLoginTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="bfab8b">  <td>20/03/13 11:41:28</td>   <td>-231561</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5SearchforUnitsTests.sMMobileSearchforUnitsTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SearchforUnitsTests@30a3107a]">sMMobileSearchforUnitsTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>20/03/13 11:35:44</td>   <td>-575496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5ViewTenantsActivityTests.sMMobileViewTenantsActivityNote5Tests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ViewTenantsActivityTests@6895a785]">sMMobileViewTenantsActivityNote5Tests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:31:10</td>   <td>-849303</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5EmailLoginTest@2758fe70]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="addda9">  <td>20/03/13 11:33:39</td>   <td>-700423</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5PhoneBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5PhoneLoginTests@51cdd8a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:34:45</td>   <td>-634103</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ViewTenantsActivityTests@6895a785]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:35:44</td>   <td>-575374</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5FeedbackTests@1d29cf23]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:36:41</td>   <td>-517813</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SettingsAccountTests@74650e52]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:37:38</td>   <td>-461506</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SettingsAdvancedTests@33f88ab]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:38:34</td>   <td>-405032</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SettingsHelpSupportLinkTests@1f57539]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:39:33</td>   <td>-346380</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ActivitySortingTests@11438d26]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:40:30</td>   <td>-289323</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SearchforUnitsTests@30a3107a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="addda9">  <td>20/03/13 11:41:28</td>   <td>-231492</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5PhoneBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SearchSignalStrengthTests@78e67e0a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:42:28</td>   <td>-171449</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ViewUnitsFromPieTests@2a556333]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:43:26</td>   <td>-113306</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ViewUnitDetailTests@2173f6d9]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:44:22</td>   <td>-57086</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5BottomMenuTests@42f93a98]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:45:19</td>   <td>32</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5RemoteUnlockAvailableUnitsTests@27808f31]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:33:10</td>   <td>-728709</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5EmailLoginTest@2758fe70]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="addda9">  <td>20/03/13 11:34:45</td>   <td>-634238</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5PhoneBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5PhoneLoginTests@51cdd8a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:35:44</td>   <td>-575468</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ViewTenantsActivityTests@6895a785]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:36:41</td>   <td>-517911</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5FeedbackTests@1d29cf23]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:37:38</td>   <td>-461593</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SettingsAccountTests@74650e52]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:38:34</td>   <td>-405111</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SettingsAdvancedTests@33f88ab]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:39:33</td>   <td>-346456</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SettingsHelpSupportLinkTests@1f57539]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:40:30</td>   <td>-289404</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ActivitySortingTests@11438d26]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:41:28</td>   <td>-231552</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SearchforUnitsTests@30a3107a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="addda9">  <td>20/03/13 11:42:28</td>   <td>-171506</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5PhoneBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SearchSignalStrengthTests@78e67e0a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:43:26</td>   <td>-113347</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ViewUnitsFromPieTests@2a556333]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:44:22</td>   <td>-57137</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ViewUnitDetailTests@2173f6d9]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:45:19</td>   <td>2</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5BottomMenuTests@42f93a98]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:46:17</td>   <td>57940</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5RemoteUnlockAvailableUnitsTests@27808f31]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
