<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SMAndroidSuitN920T</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:31:10</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5EmailLoginTest@2758fe70]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>20/03/13 11:32:29</td>   <td>79028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5EmailLoginTest.sMMobileNote5EmailLoginTest()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5EmailLoginTest@2758fe70]">sMMobileNote5EmailLoginTest</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:33:10</td>   <td>120594</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5EmailLoginTest@2758fe70]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="addda9">  <td>20/03/13 11:33:39</td>   <td>148880</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5PhoneBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5PhoneLoginTests@51cdd8a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="707e96">  <td>20/03/13 11:34:45</td>   <td>215025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5PhoneLoginTests.sMMobilePhoneLoginTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5PhoneLoginTests@51cdd8a]">sMMobilePhoneLoginTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="addda9">  <td>20/03/13 11:34:45</td>   <td>215065</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5PhoneBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5PhoneLoginTests@51cdd8a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:34:45</td>   <td>215200</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ViewTenantsActivityTests@6895a785]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>20/03/13 11:35:44</td>   <td>273807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5ViewTenantsActivityTests.sMMobileViewTenantsActivityNote5Tests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ViewTenantsActivityTests@6895a785]">sMMobileViewTenantsActivityNote5Tests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:35:44</td>   <td>273835</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ViewTenantsActivityTests@6895a785]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:35:44</td>   <td>273929</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5FeedbackTests@1d29cf23]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="a5f880">  <td>20/03/13 11:36:41</td>   <td>331370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5FeedbackTests.sMMobileNote5FeedbackTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5FeedbackTests@1d29cf23]">sMMobileNote5FeedbackTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:36:41</td>   <td>331392</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5FeedbackTests@1d29cf23]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:36:41</td>   <td>331490</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SettingsAccountTests@74650e52]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="86dec2">  <td>20/03/13 11:37:38</td>   <td>387689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5SettingsAccountTests.sMMobileNote5SettingsAccountTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SettingsAccountTests@74650e52]">sMMobileNote5SettingsAccountTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:37:38</td>   <td>387710</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SettingsAccountTests@74650e52]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:37:38</td>   <td>387797</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SettingsAdvancedTests@33f88ab]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="93cca4">  <td>20/03/13 11:38:34</td>   <td>444175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5SettingsAdvancedTests.sMMobileNote5SettingsAdvancedTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SettingsAdvancedTests@33f88ab]">sMMobileNote5SettingsAdvancedTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:38:34</td>   <td>444192</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SettingsAdvancedTests@33f88ab]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:38:34</td>   <td>444271</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SettingsHelpSupportLinkTests@1f57539]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="926068">  <td>20/03/13 11:39:33</td>   <td>502833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5SettingsHelpSupportLinkTests.sMMobileNote5SettingsHelpSupportLinkTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SettingsHelpSupportLinkTests@1f57539]">sMMobileNote5SettingsHelpSupportLinkTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:39:33</td>   <td>502847</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SettingsHelpSupportLinkTests@1f57539]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:39:33</td>   <td>502923</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ActivitySortingTests@11438d26]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="bfd8bd">  <td>20/03/13 11:40:30</td>   <td>559888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5ActivitySortingTests.sMMobileNote5ActivitySortingTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ActivitySortingTests@11438d26]">sMMobileNote5ActivitySortingTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:40:30</td>   <td>559899</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ActivitySortingTests@11438d26]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:40:30</td>   <td>559980</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SearchforUnitsTests@30a3107a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="bfab8b">  <td>20/03/13 11:41:28</td>   <td>617742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5SearchforUnitsTests.sMMobileSearchforUnitsTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SearchforUnitsTests@30a3107a]">sMMobileSearchforUnitsTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:41:28</td>   <td>617751</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SearchforUnitsTests@30a3107a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="addda9">  <td>20/03/13 11:41:28</td>   <td>617811</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5PhoneBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SearchSignalStrengthTests@78e67e0a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="a3fe6e">  <td>20/03/13 11:42:28</td>   <td>677785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5SearchSignalStrengthTests.sMMobileNote5SearchSignalStrengthTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SearchSignalStrengthTests@78e67e0a]">sMMobileNote5SearchSignalStrengthTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="addda9">  <td>20/03/13 11:42:28</td>   <td>677797</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5PhoneBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5SearchSignalStrengthTests@78e67e0a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:42:28</td>   <td>677854</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ViewUnitsFromPieTests@2a556333]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="6bdb79">  <td>20/03/13 11:43:26</td>   <td>735950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5ViewUnitsFromPieTests.sMMobileNote5ViewUnitsFromPieTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ViewUnitsFromPieTests@2a556333]">sMMobileNote5ViewUnitsFromPieTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:43:26</td>   <td>735956</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ViewUnitsFromPieTests@2a556333]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:43:26</td>   <td>735997</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ViewUnitDetailTests@2173f6d9]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="8d779b">  <td>20/03/13 11:44:22</td>   <td>792161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5ViewUnitDetailTests.sMMobileNote5ViewUnitDetailTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ViewUnitDetailTests@2173f6d9]">sMMobileNote5ViewUnitDetailTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:44:22</td>   <td>792166</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5ViewUnitDetailTests@2173f6d9]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:44:22</td>   <td>792217</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5BottomMenuTests@42f93a98]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="91936c">  <td>20/03/13 11:45:19</td>   <td>849303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5BottomMenuTests.sMMobileBottomMenuTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5BottomMenuTests@42f93a98]">sMMobileBottomMenuTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:45:19</td>   <td>849305</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5BottomMenuTests@42f93a98]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:45:19</td>   <td>849335</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyNote5EmailBaseClass.setup()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5RemoteUnlockAvailableUnitsTests@27808f31]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="d37475">  <td>20/03/13 11:46:17</td>   <td>907241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileNote5RemoteUnlockAvailableUnitsTests.sMMobileBottomMenuTests()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5RemoteUnlockAvailableUnitsTests@27808f31]">sMMobileBottomMenuTests</td> 
  <td>main@2012846597</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/03/13 11:46:17</td>   <td>907243</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyNote5EmailBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.note5.SMMobileNote5RemoteUnlockAvailableUnitsTests@27808f31]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
