<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SMAndroidSuiteMultiPhone</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93dd95">  <td>20/02/06 09:16:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileEmailLoginTests.mobileEmailLoginTests()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginTests@2758fe70]">mobileEmailLoginTests</td> 
  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="bbd26a">  <td>20/02/06 09:21:24</td>   <td>313121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileSettingsAdvancedTests.sMMobileAdvancedSettingsTests()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsAdvancedTests@6895a785]">sMMobileAdvancedSettingsTests</td> 
  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="707e96">  <td>20/02/06 09:18:37</td>   <td>146194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobilePhoneLoginTests.sMMobilePhoneLoginTests()[pri:0, instance:com.tests.sitemanager.SMMobilePhoneLoginTests@7f13d6e]">sMMobilePhoneLoginTests</td> 
  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="a5f880">  <td>20/02/06 09:23:00</td>   <td>408828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileViewUnitDetailTests.sMMobileViewUnitDetailTests()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitDetailTests@1d29cf23]">sMMobileViewUnitDetailTests</td> 
  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/06 09:14:57</td>   <td>-73852</td> <td>&nbsp;</td><td title="&gt;&gt;SMLGG7ThinQ_LMG710BaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginTests@2758fe70]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/06 09:17:25</td>   <td>74631</td> <td>&nbsp;</td><td title="&gt;&gt;SMLGG7ThinQ_LMG710BaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobilePhoneLoginTests@7f13d6e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>20/02/06 09:19:53</td>   <td>222130</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsAdvancedTests@6895a785]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>20/02/06 09:21:30</td>   <td>319087</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyG9BaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitDetailTests@1d29cf23]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/06 09:16:52</td>   <td>41716</td> <td>&nbsp;</td><td title="&lt;&lt;SMLGG7ThinQ_LMG710BaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileEmailLoginTests@2758fe70]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>20/02/06 09:19:20</td>   <td>189553</td> <td>&nbsp;</td><td title="&lt;&lt;SMLGG7ThinQ_LMG710BaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobilePhoneLoginTests@7f13d6e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>20/02/06 09:21:26</td>   <td>315126</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileSettingsAdvancedTests@6895a785]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>20/02/06 09:23:02</td>   <td>410830</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyG9BaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileViewUnitDetailTests@1d29cf23]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
</table>
