<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestAll</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93dd95">  <td>19/12/23 09:47:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileActivitySortingTests.sMMobileActivitySortingTests()[pri:0, instance:com.tests.sitemanager.SMMobileActivitySortingTests@32709393]">sMMobileActivitySortingTests</td> 
  <td>main@1860513229</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>19/12/23 09:48:41</td>   <td>52346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMMobileAdvancedSettingsTests.sMMobileAdvancedSettingsTests()[pri:0, instance:com.tests.sitemanager.SMMobileAdvancedSettingsTests@3d99d22e]">sMMobileAdvancedSettingsTests</td> 
  <td>main@1860513229</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/12/23 09:47:16</td>   <td>-32364</td> <td>&nbsp;</td><td title="&gt;&gt;SMSamsungGalaxyBaseClass.setup()[pri:0, instance:com.tests.sitemanager.SMMobileActivitySortingTests@32709393]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1860513229</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/12/23 09:48:45</td>   <td>56857</td> <td>&nbsp;</td><td title="&lt;&lt;SMSamsungGalaxyBaseClass.teardown()[pri:0, instance:com.tests.sitemanager.SMMobileActivitySortingTests@32709393]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1860513229</td>   <td></td> </tr>
</table>
